.tabbar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #353535;
  color: white;
  font-family: "Lato";
  font-size: 2vw;
  border-right: 1px solid white;
}
.tabbar-container .welcome-bar {
  background-color: #75B54D;
  color: white;
  height: 15vh;
  text-align: center;
  margin: auto;
  line-height: 15vh;
  vertical-align: middle;
  font-size: 3vw;
  font-weight: 200;
}
.tabbar-container .menu-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
}
.tabbar-container .menu-bar-container a {
  text-decoration: inherit;
  color: inherit;
}

.client-container {
  display: inline-block;
  position: absolute;
  left: 20vw;
  top: 0;
  width: 80vw;
  height: 100vh;
}
.client-container .client-title {
  position: absolute;
  left: 5vw;
  bottom: 82vh;
  color: white;
  font-weight: 700;
  font-size: 3vw;
  margin-bottom: 2vw;
}
.client-container .client-list-container {
  position: relative;
  left: 5vw;
  top: 17vh;
  width: 45vw;
  background-color: white;
  border-radius: 1vw;
  height: 78vh;
  /* Rectangle 3: */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.client-container .client-list-container .client-list-header {
  padding: 3vw 2vw 1vw;
  display: flex;
}
.client-container .client-list-container .client-list-header .client-list-title {
  font-weight: 700;
  font-size: 1.8vw;
  flex-grow: 1;
}
.client-container .client-list-container .client-list-search {
  margin: 0 50% 1vw 2vw;
  border: none;
  border-bottom: 1px solid #353535;
  font-size: 1.8vw;
  flex-grow: 1;
  font-weight: 200;
}
.client-container .client-list-container .client-list-search:focus {
  outline: none;
}
.client-container .client-list-container .client-table-container {
  overflow-y: scroll;
  padding: 0 2vw;
  flex-grow: 15;
}
.client-container .client-list-container .clients-list-empty-table {
  flex-grow: 30;
  align-self: center;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
}
.client-container .client-list-container .clients-list-empty-table .confirm-button {
  width: 50%;
  margin: 1vw auto;
}
.client-container .recent-payments-container {
  position: absolute;
  left: 52vw;
  top: 17vh;
  width: 23vw;
  background-color: white;
  border-radius: 1vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
}
.client-container .recent-payments-container .recent-payments-title {
  font-weight: 700;
  font-size: 1.8vw;
  padding: 3vw 2vw 1vw;
  flex-grow: 1;
}
.client-container .recent-payments-container .recent-payments-list-view {
  overflow-y: scroll;
  padding: 0 2vw 1vw;
  flex-grow: 15;
}

.client-table-container .client-table-item {
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 4fr 4fr 1fr;
  grid-template-areas: "name date arrow" "preview price arrow";
  padding: 1vw;
  border-bottom: 1px solid #353535;
}
.client-table-container .client-table-item .client-name {
  grid-area: name;
  font-size: 1.5vw;
}
.client-table-container .client-table-item .client-items-preview {
  grid-area: preview;
  font-size: 1.2vw;
  color: #A6A6A6;
  white-space: nowrap;
  align-self: end;
}
.client-table-container .client-table-item .client-date {
  grid-area: date;
  font-weight: 300;
  font-size: 1.5vw;
  justify-self: end;
}
.client-table-container .client-table-item .client-price {
  grid-area: price;
  font-weight: 300;
  font-size: 1.5vw;
  justify-self: end;
}
.client-table-container .client-table-item #client-arrow-svg {
  grid-area: arrow;
  justify-self: end;
  align-self: center;
}
.client-table-container .client-table-item.last {
  border-bottom: none;
}

.recent-payments-list-view .payment-item-container {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}
.recent-payments-list-view .payment-item-container .payment-item-time {
  font-weight: 700;
}
.recent-payments-list-view .payment-item-container .payment-item-price {
  font-weight: 300;
}
.recent-payments-list-view .payment-item-container .payment-item-date {
  font-weight: 300;
}

.product-page-container {
  display: inline-block;
  position: absolute;
  left: 20vw;
  top: 0;
  width: 80vw;
  height: 100vh;
}
.product-page-container .product-page-title {
  position: absolute;
  left: 5vw;
  bottom: 82vh;
  color: white;
  font-weight: 700;
  font-size: 3vw;
  margin-bottom: 2vw;
}
.product-page-container .products-list-container {
  position: relative;
  left: 5vw;
  top: 17vh;
  width: 45vw;
  background-color: white;
  border-radius: 1vw;
  height: 78vh;
  /* Rectangle 3: */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.product-page-container .products-list-container .products-list-header {
  padding: 3vw 2vw 1vw;
  display: flex;
}
.product-page-container .products-list-container .products-list-header .products-list-title {
  font-weight: 700;
  font-size: 1.8vw;
  flex-grow: 1;
}
.product-page-container .products-list-container .products-list-search {
  margin: 0 50% 1vw 2vw;
  border: none;
  border-bottom: 1px solid #353535;
  font-size: 1.8vw;
  flex-grow: 1;
  font-weight: 200;
  padding-bottom: 0.5vw;
}
.product-page-container .products-list-container .products-list-search:focus {
  outline: none;
}
.product-page-container .products-list-container .products-list-table {
  overflow-y: scroll;
  padding: 0 2vw;
  flex-grow: 30;
}
.product-page-container .products-list-container .products-list-empty-table {
  flex-grow: 30;
  align-self: center;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
}
.product-page-container .products-list-container .products-list-empty-table .confirm-button {
  width: 50%;
  margin: 1vw auto;
}

.products-list-table .product-item-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5vw;
  padding-bottom: 1vw;
}
.products-list-table .product-item-container .product-item-price {
  font-weight: 300;
  justify-self: center;
}
.products-list-table .product-item-container .product-item-price-input {
  text-align: center;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 1.5vw;
}
.products-list-table .product-item-container .product-item-price-input:focus {
  outline: none;
}
.products-list-table .product-item-container .product-item-edit-button {
  font-weight: 300;
  color: #A6A6A6;
  cursor: pointer;
  justify-self: end;
}

.modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-add-product-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 30vh;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 1vw;
  padding: 2vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}
.modal-add-product-container #modal-add-product-name-input {
  grid-row: 1/2;
  grid-column: 1/3;
}
.modal-add-product-container #modal-add-product-price-input {
  grid-row: 1/2;
  grid-column: 2/3;
}
.modal-add-product-container .modal-input {
  width: 20vw;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 2vw;
  font-weight: 200;
  padding-bottom: 0.5vw;
}
.modal-add-product-container .modal-input:focus {
  outline: none;
}
.modal-add-product-container .cancel-button {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: auto 2vw;
  align-self: end;
}
.modal-add-product-container .confirm-button {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 2vw;
  margin: auto 2vw;
  align-self: end;
}

.modal-add-client-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 1vw;
  padding: 2vw;
  display: grid;
  grid-template-rows: 1fr 5fr 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}
.modal-add-client-container #modal-add-product-name-input {
  grid-row: 1/2;
  grid-column: 1/3;
  margin-bottom: 2vw;
}
.modal-add-client-container .modal-title {
  grid-row: 1/2;
  grid-column: 1/3;
  margin-bottom: 2vw;
}
.modal-add-client-container .modal-input {
  width: 20vw;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 2vw;
  font-weight: 200;
  padding-bottom: 0.5vw;
}
.modal-add-client-container .modal-input:focus {
  outline: none;
}
.modal-add-client-container .products-grid-container {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.5vw;
  height: 40vh;
  overflow-y: scroll;
}
.modal-add-client-container .products-grid-container .product-grid-item {
  cursor: pointer;
  width: calc(24%);
  height: 11.5vw;
  background-color: #DDDDDD;
  border: 1px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: ease 0.5s all;
}
.modal-add-client-container .products-grid-container .product-grid-item:hover {
  background-color: #BBBBBB;
}
.modal-add-client-container .chosen-products-container {
  height: 20vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 1/3;
}
.modal-add-client-container .chosen-products-container .chosen-product-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 10fr 10fr 1fr 10fr;
  align-items: center;
  padding: 1vw;
}
.modal-add-client-container .chosen-products-container .chosen-product-item .item-label {
  grid-row: 1/3;
  grid-column: 1/2;
}
.modal-add-client-container .chosen-products-container .chosen-product-item .item-quantity {
  grid-row: 1/3;
  grid-column: 2/3;
  justify-self: end;
  padding-right: 1vw;
}
.modal-add-client-container .chosen-products-container .chosen-product-item #item-toggle-up-arrow {
  grid-row: 1/2;
  grid-column: 3/4;
  align-self: end;
  cursor: pointer;
}
.modal-add-client-container .chosen-products-container .chosen-product-item #item-toggle-down-arrow {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: start;
  cursor: pointer;
}
.modal-add-client-container .chosen-products-container .chosen-product-item .item-remove-button {
  justify-self: end;
  grid-row: 1/3;
  grid-column: 4/5;
  cursor: pointer;
  color: #A6A6A6;
}
.modal-add-client-container .cancel-button {
  grid-row: 4/5;
  grid-column: 1/2;
  margin: auto 2vw;
  align-self: end;
}
.modal-add-client-container .confirm-button {
  grid-row: 4/5;
  grid-column: 2/3;
  margin: 2vw;
  margin: auto 2vw;
  align-self: end;
}

.single-client-view {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 1vw 2vw;
  height: 100%;
}
.single-client-view .single-client-view-header {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  font-size: 2vw;
  align-items: center;
  margin-bottom: 2vw;
}
.single-client-view .single-client-view-header .arrow {
  padding-right: 2vw;
}
.single-client-view .owed-items-label {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 1.75vw;
}
.single-client-view .add-items-button {
  cursor: pointer;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: end;
  color: #A6A6A6;
  font-size: 1.75vw;
  font-weight: 300;
}
.single-client-view .owed-items-view {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.single-client-view .owed-items-view .owed-item-view {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5vw;
  padding-bottom: 1vw;
}
.single-client-view .owed-items-view .owed-item-view .owed-item-price-overview-label {
  justify-self: center;
  font-weight: 300;
}
.single-client-view .owed-items-view .owed-item-view .owed-item-price-total-label {
  justify-self: end;
  grid-column: 3/4;
  font-weight: 300;
}
.single-client-view .owed-item-view.total-view {
  display: flex;
  font-size: 1.5vw;
  justify-content: space-between;
  padding: 0 15px 0 0;
  grid-row: 4/5;
  grid-column: 1/3;
  margin-top: 1vw;
  font-weight: 700;
}
.single-client-view .complete-transaction-button {
  cursor: pointer;
  grid-row: 5/6;
  grid-column: 1/3;
  justify-self: end;
  display: flex;
  border: 1px solid #333333;
  border-radius: 100px;
  align-items: center;
  padding: 0.5vw 2vw;
  width: 30%;
  justify-content: space-between;
  font-size: 1.25vw;
}
.single-client-view .complete-transaction-button .price-text {
  flex-grow: 1;
  font-weight: 300;
}
.single-client-view .complete-transaction-button .transaction-text {
  flex-grow: 1;
  text-align: right;
  width: 50%;
}
.single-client-view .view-history-view {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2vw;
  grid-row: 6/7;
  grid-column: 1/3;
}
.single-client-view .view-history-view div {
  padding: 0 2vw 0 0;
}
.single-client-view .expand-button {
  grid-row: 7/8;
  grid-column: 1/3;
}

body {
  background-color: #353535;
  font-family: "Lato";
}

.expand-button {
  font-weight: 200;
  font-size: 2vw;
  text-align: center;
  flex-grow: 1;
  padding: 1vw;
}
.expand-button span {
  cursor: pointer;
}

.arrow {
  cursor: pointer;
}

.confirm-button {
  background-color: white;
  border: 1px solid #333333;
  color: #333333;
  border-radius: 500px;
  padding: 0.6vw 0.5vw;
  transition: ease 0.5s all;
  cursor: pointer;
  text-align: center;
}

.confirm-button:hover {
  background-color: #DDDDDD;
}

.add-button {
  cursor: pointer;
}

.cancel-button {
  background-color: #AAAAAA;
  border: 1px solid #333333;
  color: #333333;
  border-radius: 500px;
  padding: 0.6vw 0.5vw;
  transition: ease 0.5s all;
  cursor: pointer;
  text-align: center;
  color: white;
}

.cancel-button:hover {
  background-color: #333333;
}

/*# sourceMappingURL=main.css.map */
