@import "../definitions";

.client-container {
    display: inline-block;
    position: absolute;
    left: 20vw;
    top: 0;
    width: 80vw;
    height: 100vh;
    .client-title {
        position: absolute;
        left: 5vw;
        bottom: 82vh;
        color: $mainFontColor;
        font-weight: 700;
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .client-list-container {
        position: relative;
        left: 5vw;
        top: 17vh;
        width: 45vw;
        background-color: $secondaryBackgroundColor;
        border-radius: 1vw;
        height: 78vh;
        /* Rectangle 3: */
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        display: flex;
        flex-direction: column;
        .client-list-header {
            padding: 3vw 2vw 1vw;
            display: flex;
            .client-list-title {
                font-weight: 700;
                font-size: 1.8vw;
                flex-grow: 1;
            }
        }
        
        .client-list-search {
            margin: 0 50% 1vw 2vw;
            border: none;
            border-bottom: 1px solid $mainBackgroundColor;
            font-size: 1.8vw;
            flex-grow: 1;
            font-weight: 200;
        }
        .client-list-search:focus {
            outline: none;
        }
        .client-table-container {
            overflow-y: scroll;
            padding: 0 2vw;
            flex-grow: 15;
        }
        .clients-list-empty-table {
            flex-grow: 30;
            align-self: center;
            text-align: center;
            font-size: 1.5vw;
            font-weight: 300;
            .confirm-button {
                width: 50%;
                margin: 1vw auto;
            }
        }
    }
    .recent-payments-container {
        position: absolute;
        left: 52vw;
        top: 17vh;
        width: 23vw;
        background-color: $secondaryBackgroundColor;
        border-radius: 1vw;
        height: 78vh;
        display: flex;
        flex-direction: column;
        .recent-payments-title {
            font-weight: 700;
            font-size: 1.8vw;
            padding: 3vw 2vw 1vw;
            flex-grow: 1;
        }
        .recent-payments-list-view {
            overflow-y: scroll;
            padding: 0 2vw 1vw;
            flex-grow: 15;
        }
    }
}
.client-table-container {
    .client-table-item {
        cursor: pointer;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 4fr 4fr 1fr;
        grid-template-areas: 
            "name date arrow"
            "preview price arrow";
        padding: 1vw;
        border-bottom: 1px solid $mainBackgroundColor;
        .client-name {
            grid-area: name;
            font-size: 1.5vw;
        }
        .client-items-preview {
            grid-area: preview;
            font-size: 1.2vw;
            color: $secondaryFontColor;
            white-space: nowrap;
            align-self: end;
        }
        .client-date {
            grid-area: date;
            font-weight: 300;
            font-size: 1.5vw;
            justify-self: end;
        }
        .client-price {
            grid-area: price;
            font-weight: 300;
            font-size: 1.5vw;
            justify-self: end;
        }
        #client-arrow-svg {
            grid-area: arrow;
            justify-self: end;
            align-self: center;
        }
    }
    .client-table-item.last {
        border-bottom: none;
    }
}

.recent-payments-list-view {
    .payment-item-container {
        font-size: 1.5vw;
        margin-bottom: 1vw;
        .payment-item-time {
            font-weight: 700;
        }
        .payment-item-price {
            font-weight: 300;
        }
        .payment-item-date {
            font-weight: 300;
        }
    }
}