@import "../definitions";

.product-page-container {
    display: inline-block;
    position: absolute;
    left: 20vw;
    top: 0;
    width: 80vw;
    height: 100vh;
    .product-page-title {
        position: absolute;
        left: 5vw;
        bottom: 82vh;
        color: $mainFontColor;
        font-weight: 700;
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .products-list-container {
        position: relative;
        left: 5vw;
        top: 17vh;
        width: 45vw;
        background-color: $secondaryBackgroundColor;
        border-radius: 1vw;
        height: 78vh;
        /* Rectangle 3: */
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        display: flex;
        flex-direction: column;
        .products-list-header {
            padding: 3vw 2vw 1vw;
            display: flex;
            .products-list-title {
                font-weight: 700;
                font-size: 1.8vw;
                flex-grow: 1;
            }
        }
        
        
        .products-list-search {
            margin: 0 50% 1vw 2vw;
            border: none;
            border-bottom: 1px solid $mainBackgroundColor;
            font-size: 1.8vw;
            flex-grow: 1;
            font-weight: 200;
            padding-bottom: 0.5vw;
        }
        .products-list-search:focus {
            outline: none;
        }
        .products-list-table {
            overflow-y: scroll;
            padding: 0 2vw;
            flex-grow: 30;
        }
        .products-list-empty-table {
            flex-grow: 30;
            align-self: center;
            text-align: center;
            font-size: 1.5vw;
            font-weight: 300;
            .confirm-button {
                width: 50%;
                margin: 1vw auto;
            }
        }
    }
}

.products-list-table {
    .product-item-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.5vw;
        padding-bottom: 1vw;
        .product-item-price {
            font-weight: 300;
            justify-self: center;
        }
        .product-item-price-input {
            text-align: center;
            background-color: inherit;
            border: none;
            border-bottom: 1px solid #333333;
            font-size: 1.5vw;
        }
        .product-item-price-input:focus {
            outline: none;
        }
        .product-item-edit-button {
            font-weight: 300;
            color: $secondaryFontColor;
            cursor: pointer;
            justify-self: end;
        }
    }
}